{template header}
<div style="width: 400px" class="popupmenu_option" id="ajax_explain_menu">
<a href="###" onclick="hideMenu()"><img align="right" src="{IMGDIR}/close.gif" border="0" alt="" /></a><br />
<form method="post" id="explainform_$id" action="eccredit.php?action=explain&inajax=1&explainsubmit=yes">
<input type="hidden" name="formhash" value="{FORMHASH}" />
<input type="hidden" name="id" value="$id" />
<textarea name="explanation" rows="5" cols="50" style="width: 98%;overflow: hidden" /></textarea><br /><br />
<button class="submit" type="button" name="explainsubmit" value="true"  onclick="ajaxpost('explainform_$id', '$ajaxmenuid')">{lang submit}</button>
</form>
</div>
{template footer}