{template header}
<div class="container">
	<div id="nav"><a href="$indexname">$bbname</a> &raquo; {lang memcp}</div>
	<div class="content">
		<table id="memberinfo" class="portalbox" cellpadding="0" cellspacing="1">
			<tr>
				<td class="memberinfo_avatar">
					$avatar
					<p><a href="space.php?action=viewpro&uid=$discuz_uid">$discuz_userss</a></p>
				</td>
				<td class="memberinfo_forum">
					<ul>
						<li><label>UID:</label> $member[uid]</li>
						<li><label>{lang usergroup}:</label> $grouptitle<!--{if $regverify == 1 && $groupid == 8}-->&nbsp; [ <a href="member.php?action=emailverify">{lang memcp_email_reverify}</a> ]<!--{/if}--></li>
						<li><label>{lang regdate}:</label>$member[regdate]</li>
						<li><label>{lang register} IP:</label>$member[regip] $member['regiplocation']</li>
						<li><label>{lang lastvisit} IP:</label>$member[lastip] $member['lastiplocation']</li>
						<li><label>{lang lastvisit}:</label>$member[lastvisit]</li>
						<li><label>{lang lastpost}:</label>$member['lastpost']</li>

					</ul>
				</td>
				<td class="memberinfo_forum" style="width: 12em;">
					<ul>
						<li>{lang credits}: $credits</li>
						<!--{loop $extcredits $id $credit}-->
						<li>
							<!--{if $id == $creditstrans}-->
							$credit[title]: <span style="font-weight: bold;">$GLOBALS['extcredits'.$id]</span> $credit[unit]
							<!--{else}-->
							$credit[title]: $GLOBALS['extcredits'.$id] $credit[unit]
							<!--{/if}-->
						</li>
						<!--{/loop}-->
						<li>{lang posts}: $member[posts] </li>
						<li>{lang digestposts}: $member[digestposts]</li>
					</ul>
				</td>
			</tr>
		</table>
		<!--{if $validating}-->
		<div class="mainbox formbox">
			<h1>{lang memcp_validating}</h1>
			<form method="post" action="member.php?action=regverify">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<table summary="" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<td>{lang memcp_validating_info}</td>
						</tr>
					</thead>
					<tr>
						<th>{lang memcp_validating_status}</th>
						<td><strong><!--{if $validating['status'] == 0}-->{lang memcp_validating_status_0}<!--{elseif $validating['status'] == 1}-->{lang memcp_validating_status_1}<!--{/if}--></strong></td>
					</tr>
					<!--{if $validating['admin']}-->
					<tr>
						<th>{lang memcp_validating_admin}</th>
						<td><a href="space.php?username=$validating[adminenc]">$validating[admin]</a></td>
					</tr>
					<!--{/if}-->
					<!--{if $validating['moddate']}-->
					<tr>
						<th>{lang memcp_validating_time}</th>
						<td>$validating[moddate]</td>
					</tr>
					<!--{/if}-->
					<!--{if $validating['remark']}-->
					<tr>
						<th>{lang memcp_validating_remark}</th>
						<td>$validating[remark]</td>
					</tr>
					<!--{/if}-->
					<tr>
						<th valign="top"><label for="regmessagenew">{lang register_message}</label></th>
						<td><textarea rows="5" cols="50" id="regmessagenew" name="regmessagenew">$validating[message]</textarea></td>
					</tr>
					<!--{if $validating['status'] == 1}-->
					<tr class="btns">
						<th>&nbsp;</th>
						<td><button type="submit" class="submit" name="verifysubmit" id="verifysubmit" value="true">{lang submit}</button></td>
					</tr>
					<!--{/if}-->
				</table>
			</form>
		</div>
		<!--{/if}-->

		<div class="mainbox">
			<h3>{lang memcp_last_5_pm}</h3>
			<table summary="{lang memcp_last_5_pm}" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
					<th>{lang subject}</th>
					<td class="user">{lang from}</td>
					<td class="time">{lang time}</td>
					</tr>
				</thead>
				<tbody>
				<!--{if $msgexists}-->
					<!--{loop $msglist $message}-->
					<tr>
					<th><a href="pm.php?action=view&pmid=$message[pmid]" target="_blank">$message[subject]</a></th>
					<td class="user"><a href="space.php?uid=$message[msgfromid]">$message[msgfrom]</a></td>
					<td class="time">$message[dateline]</td>
					</tr>
					<!--{/loop}-->
				<!--{else}-->
					<tr><th colspan="3">{lang memcp_nopm}</th></tr>
				<!--{/if}-->
				</tbody>
			</table>
		</div>
		<div class="mainbox">
			<h3>{lang memcp_last_5_creditslog}</h3>
			<table summary="{lang memcp_last_5_creditslog}" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<td class="user">{lang memcp_credits_log_transaction_fromto}</td>
						<td class="time">{lang time}</td>
						<td class="nums">{lang memcp_credits_log_transaction_outgo}</td>
						<td class="nums">{lang memcp_credits_log_transaction_income}</td>
						<td>{lang action}</td>
					</tr>
				</thead>
				<tbody>
				<!--{if $loglist}-->
					<!--{loop $loglist $log}-->
					<tr>
						<td class="user"><!--{if $log['fromto'] == 'BANK ACCOUNT'}-->{lang memcp_credits_transfer_bank}<!--{else}--><a href="space.php?username=$log[fromtoenc]">$log[fromto]</a><!--{/if}--></td>
						<td class="time">$log[dateline]</td>
						<td class="nums"><!--{if $log['send']}-->{$extcredits[$log[sendcredits]][title]} $log[send] {$extcredits[$log[sendcredits]][unit]}<!--{/if}--></td>
						<td class="nums"><!--{if $log['receive']}-->{$extcredits[$log[receivecredits]][title]} $log[receive] {$extcredits[$log[receivecredits]][unit]}<!--{/if}--></td>
						<td>
						<!--{if $log['operation'] == 'TFR'}-->
							{lang memcp_credits_transfer_send}
						<!--{elseif $log['operation'] == 'RCV'}-->
							{lang memcp_credits_transfer_receive}
						<!--{elseif $log['operation'] == 'EXC'}-->
							{lang memcp_credits_exchange}
						<!--{elseif $log['operation'] == 'UGP'}-->
							{lang memcp_usergroups_charged}
						<!--{elseif $log['operation'] == 'AFD'}-->
							{lang memcp_credits_transfer_bank}
						<!--{/if}-->
						</td>
					</tr>
					<!--{/loop}-->
				<!--{else}-->
					<tr><td colspan="5">{lang memcp_credits_log_none}</td></tr>
				<!--{/if}-->
				</tbody>
			</table>
		</div>

	</div>
	<div class="side">
		{template personal_navbar}
	</div>
</div>

{template footer}