{template header}

<input type="hidden" name="selecttypeid" size="45" value="$selecttypeid" />
<table cellspacing="0" cellpadding="0" width="100%">
<!--{if $forum['threadtypes']['expiration'][$selecttypeid]}-->
	<tr><th>{lang threadtype_expiration}({lang required})</th>
		<td>
			<select name="typeexpiration">
				<option value="259200">{lang three_days}</option>
				<option value="432000">{lang five_days}</option>
				<option value="604800">{lang seven_days}</option>
				<option value="2592000">{lang one_month}</option>
				<option value="7776000">{lang three_months}</option>
				<option value="15552000">{lang half_year}</option>
				<option value="31536000">{lang one_year}</option>
			</select>
		</td>
	</tr>
<!--{/if}-->
<!--{loop $optionlist $optionid $option}-->
	<tr>
	<th>$option[title]
	<!--{if $option['maxnum']}-->
		({lang maxnum} $option[maxnum])
	<!--{/if}-->
	<!--{if $option['minnum']}-->
		({lang minnum} $option[minnum])
	<!--{/if}-->
	<!--{if $option['maxlength']}-->
		({lang maxlength} $option[maxlength])
	<!--{/if}-->
	<!--{if $option['required']}-->
		({lang required})
	<!--{/if}-->
	<!--{if $option['unchangeable']}-->
		({lang unchangeable})
	<!--{/if}-->
	<!--{if $option[description]}--><br />$option[description]<!--{/if}-->
	</th>
	<td>
		<!--{if in_array($option['type'], array('number', 'text', 'email', 'calendar', 'image', 'url'))}-->
			<!--{if $option['type'] == 'calendar'}-->
				<script type="text/javascript" src="include/javascript/calendar.js"></script>
				<input type="text" name="typeoption[{$option[identifier]}]" size="45" value="$option[value]" onclick="showcalendar(event, this, false)" $option[unchangeable] />
			<!--{else}-->
				<input type="text" name="typeoption[{$option[identifier]}]" size="45" value="$option[value]" $option[unchangeable] />
			<!--{/if}-->
		<!--{elseif in_array($option['type'], array('radio', 'checkbox', 'select'))}-->
			<!--{if $option[type] == 'select'}-->
				<select name="typeoption[{$option[identifier]}]" $option[unchangeable]>
				<!--{loop $option['choices'] $id $value}-->
					<option value="$id" $option['value'][$id]>$value</option>
				<!--{/loop}-->
				</select>
			<!--{elseif $option['type'] == 'radio'}-->
				<!--{loop $option['choices'] $id $value}-->
					<input type="radio" class="radio" name="typeoption[{$option[identifier]}]" size="45" value="$id" $option['value'][$id] $option[unchangeable]> $value
				<!--{/loop}-->
			<!--{elseif $option['type'] == 'checkbox'}-->
				<!--{loop $option['choices'] $id $value}-->
					<input type="checkbox" class="checkbox" name="typeoption[{$option[identifier]}][]" size="45" value="$id" $option['value'][$id][$id] $option[unchangeable]> $value
				<!--{/loop}-->
			<!--{/if}-->
		<!--{elseif in_array($option['type'], array('textarea'))}-->
			<textarea name="typeoption[{$option[identifier]}]" rows="10" cols="20" style="width:99%; height:60px" $option[unchangeable]>$option[value]</textarea>
		<!--{/if}-->
	</td>
	</tr>
<!--{/loop}-->
</table>
{template footer}
