<!--{if !$iscircle || !$sgid}-->{template header}<!--{else}-->{template supesite_header}<!--{/if}-->

<div id="nav"><a href="$indexname">$bbname</a> $navigation &raquo; {lang trade_add_post}</div>

<script type="text/javascript" src="include/javascript/calendar.js"></script>
<script type="text/javascript">
var postminchars = parseInt('$minpostsize');
var postmaxchars = parseInt('$maxpostsize');
var disablepostctrl = parseInt('$disablepostctrl');
var bbinsert = parseInt('$bbinsert');
var seccodecheck = parseInt('$seccodecheck');
var secqaacheck = parseInt('$secqaacheck');
var tradepost = 1;
lang['board_allowed'] = '{lang board_allowed}';
lang['lento'] = '{lang lento}';
lang['bytes'] = '{lang bytes}';
lang['post_curlength'] = '{lang post_curlength}';
lang['post_subject_and_message_isnull'] = '{lang post_subject_and_message_isnull}';
lang['post_subject_toolong'] = '{lang post_subject_toolong}';
lang['post_message_length_invalid'] = '{lang post_message_length_invalid}';
</script>

{template post_preview}

<form method="post" id="postform" action="post.php?action=reply&fid=$fid&tid=$tid&extra=$extra&replysubmit=yes" $enctype>
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
	<input type="hidden" name="subject" value="" />
	<div class="mainbox formbox">
		<span class="headactions"><a href="member.php?action=credits&view=forum_reply&fid=$fid" target="_blank">{lang credits_policy_view}</a></span>
		<h1>{lang trade_add_post}</h1>
		<table summary="{lang trade_add_post}" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th>{lang post_goodsinfo}</th>
				<td>&nbsp;</td>
			</tr>
		</thead>
		<!--{if $seccodecheck}-->
			<tr>
				<th><label for="seccodeverify">{lang seccode}</label></th>
				<td>
					<div id="seccodeimage"></div>
					<input type="text" onfocus="updateseccode();this.onfocus = null" id="seccodeverify" name="seccodeverify" size="8" maxlength="4" />
					<em class="tips"><strong>{lang seccode_click}</strong> <!--{if $seccodedata['animator'] == 2}-->{lang seccode_animator_flashrefresh}<!--{elseif $seccodedata['animator'] == 1}-->{lang seccode_animator_refresh}<!--{else}-->{lang seccode_refresh}<!--{/if}--></em></td>
					<script type="text/javascript">
						var seccodedata = [{$seccodedata['width']}, {$seccodedata['height']}, {$seccodedata['type']}];
					</script>
			</tr>
		<!--{/if}-->
		<!--{if $secqaacheck}-->
			<tr><th><label for="secanswer">{lang secqaa}</label></th>
			<td><div id="secquestion"></div><input type="text" name="secanswer" id="secanswer" size="25" maxlength="50" />
			<script type="text/javascript">
			<!--{if ($attackevasive & 1) && $seccodecheck}-->
				setTimeout("ajaxget('ajax.php?action=updatesecqaa&inajax=1', 'secquestion')", 2001);
			<!--{else}-->
				ajaxget('ajax.php?action=updatesecqaa&inajax=1', 'secquestion');
			<!--{/if}-->
			</script></td>
			</tr>
		<!--{/if}-->

		{template post_trade}


		<tr class="btns">
		<th>&nbsp;</th>
		<td>
			<input type="hidden" name="wysiwyg" id="{$editorid}_mode" value="$editormode" />
			<input type="hidden" name="fid" id="fid" value="$fid" />
			<button type="submit" name="replysubmit" id="postsubmit" value="true" tabindex="101">{lang trade_add_post}</button>
			<em>{lang post_submit_hotkey}</em>&nbsp;&nbsp;
			&nbsp;<a href="###" id="restoredata" onclick="loadData()" title="{lang post_autosave_last_restore}">{lang post_autosave_restore}</a>
		</td>

		</tr></table>
	</div>
</form>

{template post_js}

<!--{if !$iscircle || !$sgid}-->{template footer}<!--{else}-->{template supesite_footer}<!--{/if}-->