{template header}
<!--{if !$inajax}-->
	<div id="nav"><a href="$indexname">$bbname</a> &raquo; {lang board_message}</div>

	<div class="box message">
		<h1>$bbname {lang board_message}</h1>

		<p>$show_message</p>

	<!--{if in_array($message, array('post_reply_succeed', 'post_reply_blog_succeed', 'post_newthread_blog_succeed', 'post_newthread_succeed', 'post_edit_delete_succeed', 'post_edit_succeed'))}-->
		<input type="hidden" id="textarea">
		<script src="include/javascript/post.js" type="text/javascript"></script>
		<script type="text/javascript">
			if(is_ie) {
				var textobj = $('textarea');
				textobj.addBehavior('#default#userData');
				deleteData();
			}
		</script>
	<!--{/if}-->

	<!--{if $url_forward}-->
		<p><a href="$url_forward">{lang message_forward}</a></p>
	<!--{elseif stristr($show_message, '{lang return}')}-->
		<p><a href="javascript:history.back()">{lang message_go_back}</a></p>
	<!--{/if}-->

	</div>
<!--{else}-->$show_message<!--{if $extra == 'HALTED' || $extra == 'NOPERM' || $extra == 'AJAXERROR'}--><script type="text/javascript" reload="1">

function ajaxerror() {
	alert('$show_message');
}

ajaxerror();

</script><!--{/if}-->
<!--{/if}-->
{template footer}