<script type="text/javascript">
	var postSubmited = false;
	function ctlent(event) {
		if(postSubmited == false && (event.ctrlKey && event.keyCode == 13) || (event.altKey && event.keyCode == 83) && $('postsubmit')) {
			postSubmited = true;
			$('postsubmit').click();
			$('postsubmit').disabled = true;
		}
	}
</script>
<tr>
	<th valign="top"><label for="reason">{lang admin_reason}</label>
	</th>
	<td style="height: 9em;">
		<select name="selectreason" size="6" style="height: 100px; width: 8em" onchange="this.form.reason.value=this.value">
			<option value="">{lang customize}</option>
			<option value="">--------</option>
			<!--{echo modreasonselect()}-->
		</select>
		<textarea id="reason" name="reason" style="height: 100px; width: 22em" onKeyDown="ctlent(event);"></textarea>
		<!--{if $reasonpm == 1 || $reasonpm == 3}--><div class="tips">{lang admin_reason_required}</div><!--{/if}-->
	</td>
</tr>
<tr>
	<th>&nbsp;</th>
	<td>
		<label><input type="checkbox" name="sendreasonpm" value="1" $reasonpmcheck /> {lang admin_pm}</label>
	</td>
</tr>