{template header}
<div id="nav">
<a href="$indexname">$bbname</a> $navigation &raquo; {lang admin_banpost}
</div>

<form method="post" action="topicadmin.php?action=banpost" id="postform">
<input type="hidden" name="formhash" value="{FORMHASH}" />

<div class="mainbox formbox">
<h1>{lang admin_banpost}</h1>
<table cellspacing="0" cellpadding="0" width="100%">

<tr>
<th>{lang username}</th>
<td>$discuz_userss <em class="tips">[<a href="$link_logout">{lang member_logout}</a>]</em></td>
</tr>
<tr>
<th>{lang action}</th>
<td>
	<input type="radio" name="banned" value="1" checked="checked" /> {lang admin_banpost} &nbsp; &nbsp;
	<input type="radio" name="banned" value="0" /> {lang admin_unbanpost}
</td>
</tr>
{template topicadmin_reason}

<tr class="btns">
<th>&nbsp;</th>
<td>
$banid
<input type="hidden" name="tid" value="$tid">
<input type="hidden" name="page" value="$page">
<button class="submit" type="submit" name="banpostsubmit" id="postsubmit" value="true">{lang admin_banpost}</button> {lang post_submit_hotkey}
</td>
</tr>


</table></div>
</form>
{template footer}