{template header}
<div id="nav">
<a href="$indexname">$bbname</a> $navigation &raquo; {lang admin_merge}
</div>

<form method="post" action="topicadmin.php?action=merge" id="postform">
<input type="hidden" name="formhash" value="{FORMHASH}" />

<div class="mainbox formbox">
<h1>{lang admin_merge}</h1>
<table cellspacing="0" cellpadding="0" width="100%">


<tr>
<th>{lang username}</th>
<td>$discuz_userss <em class="tips">[<a href="$link_logout">{lang member_logout}</a>]</em></td>
</tr>

<tr>
<th>{lang admin_merge_tid}</th>
<td><input type="text" name="othertid" size="10" />&nbsp; <em class="tips">{lang admin_merge_tid_comment}</em></td>
</tr>

{template topicadmin_reason}

<tr class="btns">
<th>&nbsp;</th>
<td>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<button class="submit" type="submit" name="mergesubmit" id="postsubmit" value="true">{lang admin_merge}</button> {lang post_submit_hotkey}
</td>
</tr>

</table></div>

</form>
{template footer}