<!--{if !$iscircle || !empty($frombbs)}-->{template header}<!--{else}-->{template supesite_header}<!--{/if}-->

<script type="text/javascript" src="include/javascript/viewthread.js"></script>
<script type="text/javascript">zoomstatus = parseInt($zoomstatus);</script>

<div id="foruminfo">
	<div id="nav">
		<!--{if $forumjump && $jsmenu[1]}--><a href="$indexname" id="forumlist" onmouseover="showMenu(this.id)" class="dropmenu">$bbname</a><!--{else}--><a href="$indexname">$bbname</a><!--{/if}--> $navigation
	</div>
	<div id="headsearch">
	<!--{if !empty($google) && ($google & 4)}-->
		<script type="text/javascript" src="forumdata/cache/google_var.js"></script>
		<script type="text/javascript" src="include/javascript/google.js"></script>
	<!--{/if}-->
	<!--{if !empty($qihoo['status']) && ($qihoo['searchbox'] & 4)}-->
		<form method="post" action="search.php?srchtype=qihoo" onSubmit="this.target='_blank';">
		<input type="hidden" name="searchsubmit" value="yes" />
		<input type="text" name="srchtxt" value="$qihoo_searchboxtxt" size="27" class="input" style="{BGCODE}" onmouseover="this.focus();this.value='';this.onmouseover=null;" onfocus="this.select()" />
		&nbsp;<button type="submit">{lang search}</button>
		</form>
	<!--{/if}-->
	</div>
</div>

<div id="ad_text"></div>

<!--{if !empty($newpmexists) || $announcepm}-->
	<div class="maintable" id="pmprompt">
	{template pmprompt}
	</div>
<!--{/if}-->

<div class="pages_btns">
	<div class="threadflow"><a href="redirect.php?fid=$fid&amp;tid=$tid&amp;goto=nextoldset"> &lsaquo;&lsaquo; {lang last_thread}</a> | <a href="redirect.php?fid=$fid&amp;tid=$tid&amp;goto=nextnewset">{lang next_thread} &rsaquo;&rsaquo;</a></div>
	$multipage
	<!--{if $allowpost || !$discuz_uid}-->
		<span class="postbtn" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu(this.id)"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra"><img src="{IMGDIR}/newtopic.gif" border="0" alt="{lang post_newthread}" title="{lang post_newthread}" /></a></span>
	<!--{/if}-->
	<!--{if $allowpostreply || !$discuz_uid}--><span class="replybtn"><a href="post.php?action=reply&amp;fid=$fid&amp;tid=$tid&amp;extra=$extra"><img src="{IMGDIR}/reply.gif" border="0" alt="" /></a></span><!--{/if}-->
</div>

<!--{if $allowposttrade || $allowpostpoll || $allowpostreward || $allowpostactivity || $allowpostdebate || $allowpostvideo || $forum['threadtypes'] || !$discuz_uid}-->
	<ul class="popupmenu_popup newspecialmenu" id="newspecial_menu" style="display: none">
		<li><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra">{lang post_newthread}</a></li>
		<!--{if $allowpostpoll || !$discuz_uid}--><li class="poll"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=1">{lang post_newthreadpoll}</a></li><!--{/if}-->
		<!--{if $allowposttrade || !$discuz_uid}--><li class="trade"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=2">{lang post_newthreadtrade}</a></li><!--{/if}-->
		<!--{if $allowpostreward || !$discuz_uid}--><li class="reward"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=3">{lang post_newthreadreward}</a></li><!--{/if}-->
		<!--{if $allowpostactivity || !$discuz_uid}--><li class="activity"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=4">{lang post_newthreadactivity}</a></li><!--{/if}-->
		<!--{if $allowpostdebate || !$discuz_uid}--><li class="debate"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=5">{lang post_newthreaddebate}</a></li><!--{/if}-->
		<!--{if $allowpostvideo || !$discuz_uid}--><li class="video"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;special=6">{lang post_newthreadvideo}</a></li><!--{/if}-->
		<!--{if $forum['threadtypes'] && !$forum['allowspecialonly']}-->
			<!--{loop $forum['threadtypes']['types'] $typeid $threadtypes}-->
				<!--{if $forum['threadtypes']['special'][$typeid] && $forum['threadtypes']['show'][$typeid]}-->
					<li class="popupmenu_option"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;typeid=$typeid">$threadtypes</a></li>
				<!--{/if}-->
			<!--{/loop}-->
			<!--{loop $forum['typemodels'] $id $model}-->
				<li class="popupmenu_option"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;modelid=$id">$model[name]</a></li>
			<!--{/loop}-->
		<!--{/if}-->
	</ul>
<!--{/if}-->

<form method="post" name="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<div class="mainbox viewthread">
		<span class="headactions">
		<!--{if $discuz_uid}-->
			<!--{if $supe['status']}-->
				<!--{if $xspacestatus && $thread['authorid'] == $discuz_uid}-->
					<!--{if !$thread['itemid']}-->
						<a href="$supe[siteurl]/spacecp.php?action=spaceblogs&amp;op=add&amp;tid=$tid" target="_blank">{lang supe_join_xspace}</a>
					<!--{else}-->
						<a href="$supe[siteurl]/index.php?action/viewspace/itemid/$thread[itemid]/fromdiscuz/$supe_fromdiscuz" target="_blank">{lang supe_view_in_xspace}</a>
					<!--{/if}-->
				<!--{/if}-->
				<!--{if $discuz_uid}-->
					<a href="$supe[siteurl]/spacecp.php?action=spacenews&op=add&tid=$tid" target="_blank">{lang supe_resource_add}</a>
				<!--{/if}-->
			<!--{/if}-->
			<!--{if !($supe['status'] && $xspacestatus && $thread['authorid'] == $discuz_uid) && $spacestatus && $thread['authorid'] && ($thread['authorid'] == $discuz_uid || $forum['ismoderator'])}-->
				<!--{if $thread['blog']}-->
					<a href="misc.php?action=blog&amp;tid=$tid" id="ajax_blog" onclick="ajaxmenu(event, this.id, 2000, 'changestatus', 0)">{lang blog_remove}</a>
				<!--{elseif $allowuseblog && $forum['allowshare'] && $thread['authorid'] == $discuz_uid}-->
					<a href="misc.php?action=blog&amp;tid=$tid" id="ajax_blog" onclick="ajaxmenu(event, this.id, 2000, 'changestatus', 0)">{lang blog_add}</a>
				<!--{/if}-->
				<script type="text/javascript">
					function changestatus(obj) {
						obj.innerHTML = obj.innerHTML == '{lang blog_remove}' ? '{lang blog_add}' : '{lang blog_remove}';
					}
				</script>
			<!--{/if}-->
			<a href="my.php?item=favorites&amp;tid=$tid" id="ajax_favorite" onclick="ajaxmenu(event, this.id, 3000, 0)">{lang thread_favorite}</a>
			<a href="my.php?item=subscriptions&amp;subadd=$tid" id="ajax_subscription" onclick="ajaxmenu(event, this.id, 3000, null, 0)">{lang thread_subscribe}</a>
			<a href="misc.php?action=emailfriend&amp;tid=$tid" id="emailfriend" onclick="ajaxmenu(event, this.id, 9000000, null, 0)">{lang thread_email_friend}</a>
		<!--{/if}-->
		<a href="viewthread.php?action=printable&amp;tid=$tid" target="_blank" class="notabs">{lang thread_printable}</a>
		</span>
		<h1>$thread[subject]
		</h1>
		<!--{if $lastmod['modaction'] || $thread['blog'] || $thread['readperm'] || $thread['price'] != 0 || $thread[itemid] || $lastmod['magicname']}-->
		<ins>
			<!--{if $thread[itemid]}-->
				<a href="$supe[siteurl]/index.php?action/viewspace/itemid/$thread[itemid]" target="_blank">{lang supe_thread_already_been_join_to_xspace}</a>
			<!--{/if}-->
			<!--{if $thread['price'] > 0}-->
				<a href="misc.php?action=viewpayments&amp;tid=$tid">{lang price_thread} {$extcredits[$creditstrans][title]} <strong>$thread[price]</strong> {$extcredits[$creditstrans][unit]}</a>
			<!--{/if}-->
			<!--{if $lastmod['modaction']}--><a href="misc.php?action=viewthreadmod&amp;tid=$tid" title="{lang thread_mod}" target="_blank">{lang thread_mod_by}</a><!--{/if}-->
			<!--{if $spacestatus && $thread['blog']}--><a href="space.php?$thread[authorid]/myblogs" target="_blank">{lang thread_blog}</a><!--{/if}-->
			<!--{if $thread['readperm']}-->{lang readperm_thread} $thread[readperm]<!--{/if}-->
			<!--{if $lastmod['magicname']}--><a href="misc.php?action=viewthreadmod&amp;tid=$tid" title="{lang thread_mod}" target="_blank">{lang magics_logs}</a><!--{/if}-->
		</ins>
		<!--{/if}-->
		<!--{if $highlightstatus}--><ins><a href="viewthread.php?tid=$tid&amp;page=$page" style="font-weight: normal">{lang disable_highlight}</a></ins><!--{/if}-->
{eval $postcount = 0;}
<!--{loop $postlist $post}-->
	<!--{if $postcount++}-->
	</div>
	<div class="mainbox viewthread">
	<!--{/if}-->
		<table id="pid$post[pid]" summary="pid$post[pid]" cellspacing="0" cellpadding="0">
			<tr>
				<td class="postauthor">
					$post[newpostanchor] $post[lastpostanchor]
					<cite><!--{if $forum['ismoderator']}-->
						<!--{if $allowviewip && ($thread['digest'] >= 0 || !$post['first'])}--><label><a href="topicadmin.php?action=getip&amp;fid=$fid&amp;tid=$tid&amp;pid=$post[pid]" id="ajax_getip_$post[count]" onclick="ajaxmenu(event, this.id, 10000, null, 0)" title="{lang admin_getip}">IP</a></label><!--{/if}-->
					<!--{/if}-->
					<!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
						<a href="space.php?uid=$post[authorid]" target="_blank" id="userinfo$post[pid]" class="dropmenu" onmouseover="showMenu(this.id)">$post[author]</a></cite>
						<!--{if $post['nickname']}--><p>$post[nickname]</p><!--{/if}-->
						<!--{if $post['avatar'] && $showavatars}-->
							$post[avatar]
						<!--{/if}-->
						<p><em>$post[authortitle]</em></p>
						<p>{eval showstars($post['stars']);}</p>
						<!--{if $post['customstatus']}--><p class="customstatus">$post[customstatus]</p><!--{/if}-->
						<!--{if $customauthorinfo[1]}--><dl class="profile">{eval @eval('echo "'.$customauthorinfo[1].'";');}</dl><!--{/if}-->
						<!--{if $post['medals']}--><p>
							<!--{loop $post['medals'] $medal}-->
							<img src="images/common/$medal[image]" alt="$medal[name]" />
							<!--{/loop}--></p>
						<!--{/if}-->

						<ul>
						<!--{if $spacestatus}-->
							<li class="space">
							<!--{if !empty($post[spacename])}-->
								<a href="space.php?uid=$post[authorid]" target="_blank" title="$post[spacename]">
							<!--{else}-->
								<a href="space.php?uid=$post[authorid]" target="_blank" title="{$post[username]}{lang space_userspace}">
							<!--{/if}-->
							{lang space}</a></li>
						<!--{elseif $supe['status']}-->
							<li class="space"><a href="$supe[siteurl]/?uid/$post[authorid]" target="_blank">{lang space}</a></li>
						<!--{/if}-->
						<li class="pm"><a href="pm.php?action=send&amp;uid=$post[authorid]" target="_blank" id="ajax_uid_$post['pid']" onclick="ajaxmenu(event, this.id, 9000000, null, 0)">{lang send_pm}</a></li>
						<li class="buddy"><a href="my.php?item=buddylist&newbuddyid=$post[authorid]&buddysubmit=yes" target="_blank" id="ajax_buddy_$post['count']" onclick="ajaxmenu(event, this.id, null, 0)">{lang add_to_buddylist}</a></li>

						<!--{if $vtonlinestatus && $post['authorid']}-->
							<!--{if ($vtonlinestatus == 2 && $onlineauthors[$post[authorid]]) || ($vtonlinestatus == 1 && ($timestamp - $post['lastactivity'] <= 10800) && !$post['invisible'])}-->
								<li class="online">{lang online}
							<!--{else}-->
								<li class="offline">{lang offline}
							<!--{/if}-->
							</li>
						<!--{/if}-->

						</ul>
					<!--{else}-->
						<!--{if !$post['authorid']}-->
							<a href="javascript:;">{lang guest} <em>$post[useip]</em></a></cite>
							{lang unregistered}
						<!--{elseif $post['authorid'] && $post['username'] && $post['anonymous']}-->
							<!--{if $forum['ismoderator']}--><a href="space.php?uid=$post[authorid]" target="_blank">{lang anonymous}</a><!--{else}-->{lang anonymous}<!--{/if}--></cite>
							{lang member_anonymous}
						<!--{else}-->
							$post[author]</cite>
							{lang member_deleted}
						<!--{/if}-->
					<!--{/if}-->
				</td>
				<td class="postcontent" {if $forum['ismoderator'] && ($thread['digest'] >= 0 || !$post['first'])} ondblclick="ajaxget('modcp.php?action=editmessage&pid=$post[pid]&tid=$post[tid]', 'postmessage_$post[pid]')"{/if}>
					<div class="postinfo">
						<strong title="{lang post_copylink}" id="postnum_$post[pid]" onclick="setcopy('{$boardurl}viewthread.php?tid=$tid&amp;page=$page$fromuid#pid$post[pid]', '{lang post_copied}')"><!--{if !empty($postno[$post[number]])}-->$postno[$post[number]]<!--{else}-->{$post[number]}{$postno[0]}<!--{/if}--></strong>
						<!--{if MSGBIGSIZE || MSGSMALLSIZE}-->
							<!--{if MSGBIGSIZE}--><em onclick="$('postmessage_$post[pid]').className='t_bigfont'">{lang big}</em><!--{/if}-->
							<em onclick="$('postmessage_$post[pid]').className='t_msgfont'">{lang middle}</em>
							<!--{if MSGSMALLSIZE}--><em onclick="$('postmessage_$post[pid]').className='t_smallfont'">{lang small}</em><!--{/if}-->
						<!--{/if}-->
						<!--{if $thread['price'] >= 0 || $post['first']}-->{lang poston} $post[dateline]&nbsp;<!--{/if}-->
						<!--{if $post['authorid'] && !$post['anonymous']}-->
							<!--{if !$authorid}-->
								<a href="viewthread.php?tid=$post[tid]&amp;page=$page&authorid=$post[authorid]">{lang thread_show_author}</a>
							<!--{else}-->
								<a href="viewthread.php?tid=$post[tid]&amp;page=$page">{lang thread_show_all}</a>
							<!--{/if}-->
						<!--{/if}-->
					</div>
					<div id="ad_thread2_$post[count]"></div>
					<div class="postmessage defaultpost">
						<!--{if !empty($post[ratings])}-->
							<span class="postratings"><a href="misc.php?action=viewratings&amp;tid=$tid&amp;pid=$post[pid]" title="{lang rate} $post[rate]">$post[ratings]</a></span>
						<!--{/if}-->
						<div id="ad_thread3_$post[count]"></div><div id="ad_thread4_$post[count]"></div>
						<!--{if $post['subject']}-->
							<h2>$post[subject]</h2>
						<!--{/if}-->

						<!--{if !$typetemplate && $optionlist && $post['first'] && !$post['status']}-->
							<div class="box typeoption">
								<h4>{lang threadtype_option} - $forum[threadtypes][types][$thread[typeid]]</h4>
								<table summary="{lang threadtype_option}" cellpadding="0" cellspacing="0">
								<!--{loop $optionlist $option}-->
									<tr>
										<th>$option[title]</th>
										<td><!--{if $option['value']}-->$option[value]<!--{else}-->-<!--{/if}--></td>
									</tr>
								<!--{/loop}-->
								</table>
							</div>
						<!--{/if}-->

						<!--{if $adminid != 1 && $bannedmessages && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5))}-->
							<div class="notice" style="width: 500px">{lang message_banned}</div></div>
						<!--{elseif $adminid != 1 && $post['status'] == 1}-->
							<div class="notice" style="width: 500px">{lang message_single_banned}</div></div>
						<!--{elseif $post['first'] && isset($threadpay)}-->
							{template viewthread_pay}
						<!--{else}-->
							<!--{if $bannedmessages && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5))}-->
								<div class="notice" style="width: 500px">{lang admin_message_banned}</div>
							<!--{elseif $post['status'] == 1}-->
								<div class="notice" style="width: 500px">{lang admin_message_single_banned}</div>
							<!--{/if}-->
							<!--{if $post['number'] == 1 && $typetemplate}-->$typetemplate<!--{/if}-->
							<div id="postmessage_$post[pid]" class="t_msgfont">$post[message]</div>

							<!--{if $post['attachment']}-->
								<div class="notice" style="width: 500px">{lang attachment}: <em>{lang attach_nopermission}</em></div>
							<!--{elseif $hideattach[$post[pid]] && $post['attachments']}-->
								<div class="notice" style="width: 500px">{lang attachment}: <em>{lang attachment_reply_show}</em></div>
							<!--{elseif $post['attachlist']}-->
								<div class="box postattachlist">
									<h4>{lang attachment}</h4>
									$post[attachlist]
								</div>
							<!--{/if}-->

							<!--{if $post['number'] == 1 && ($thread['tags'] || $relatedkeywords)}-->
								<p class="posttags">{lang thread_keywords}
								<!--{if $thread['tags']}-->$thread[tags]<!--{/if}-->
								<!--{if $relatedkeywords}--><span class="postkeywords">$relatedkeywords</span><!--{/if}-->
								</p>
							<!--{/if}-->

							<!--{if $relatedthreadlist && !$qihoo['relate']['position'] && $post['number'] == 1}-->
								<fieldset>
									<legend>{lang qihoo_relatedthreads}</legend>
									<ul>
									<!--{loop $relatedthreadlist $key $threads}-->
										<!--{if $threads[tid] != $tid}-->
										<li style="padding: 3px">
											<!--{if !$threads['insite']}-->
											[{lang qihoo_webthread}] <a href="topic.php?url={echo urlencode($threads[tid])}&amp;md5={echo md5($threads[tid])}&amp;statsdata=$fid||$tid" target="_blank">$threads[title]</a>&nbsp;&nbsp;&nbsp;
											[ <a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra&amp;url={echo urlencode($threads[tid])}&amp;md5={echo md5($threads[tid])}&amp;from=direct" style="color: #090" target="_blank">{lang reprint}</a> ]
											<!--{else}-->
											<a href="viewthread.php?tid=$threads[tid]&amp;statsdata=$fid||$tid" target="_blank">$threads[title]</a>
											<!--{/if}-->
										</li>
										<!--{/if}-->
									<!--{/loop}-->
										<li style="text-align:right"><a style="color: #333; background: none; line-height: 22px;" href="http://search.qihoo.com/sint/qusearch.html?kw=$searchkeywords&amp;sort=rdate&amp;ics=$charset&amp;domain=$site&amp;tshow=1" target="_blank">{lang thread_more_related_threads}</a></li>
									</ul>
								</fieldset>
							<!--{/if}-->

							<!--{if !empty($post['ratelog'])}-->
								<fieldset>
									<legend><a href="misc.php?action=viewratings&amp;tid=$tid&amp;pid=$post[pid]" title="{lang rate_view}">{lang thread_rate_log_lately}</a></legend>
									<ul>
									<!--{loop $post['ratelog'] $ratelog}-->
										<li>
											<cite><a href="space.php?uid=$ratelog[uid]" target="_blank">$ratelog[username]</a></cite>
											{$extcredits[$ratelog[extcredits]][title]}
											<strong>$ratelog[score]</strong>
											<em>$ratelog[reason]</em>
											$ratelog[dateline]
										</li>
									<!--{/loop}-->
									</ul>
								</fieldset>
							<!--{/if}-->
						</div>
						<!--{if $post['signature'] && !$post['anonymous'] && $showsignatures}-->
							<div class="signatures" style="maxHeightIE: {MAXSIGROWS}px;">
								$post[signature]
							</div>
						<!--{/if}-->
					<!--{/if}-->
				</div>
			</td>
		</tr>
		<tr>
			<td class="postauthor">
				<!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
				<div class="popupmenu_popup userinfopanel" id="userinfo$post[pid]_menu" style="display: none;">
					<!--{if $post['msn'] || $post['qq'] || $post['icq'] || $post['yahoo'] || $post['taobao']}-->
					<div class="imicons">
						<!--{if $post['msn']}--><a href="javascript:;" onclick="msnoperate('add', '$post[msn]')" title="{lang msn_add}"><img src="{IMGDIR}/msnadd.gif" alt="{lang msn_add}" /></a>
							<a href="javascript:;" onclick="msnoperate('chat', '$post[msn]')" title="{lang msn_chat}"><img src="{IMGDIR}/msnchat.gif" alt="{lang msn_chat}" /></a><!--{/if}-->
						<!--{if $post['qq']}--><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=$post[qq]&amp;Site=$bbname&amp;Menu=yes" target="_blank"><img src="{IMGDIR}/qq.gif" alt="QQ" /></a><!--{/if}-->
						<!--{if $post['icq']}--><a href="http://wwp.icq.com/scripts/search.dll?to=$post[icq]" target="_blank"><img src="{IMGDIR}/icq.gif" alt="ICQ" /></a><!--{/if}-->
						<!--{if $post['yahoo']}--><a href="http://edit.yahoo.com/config/send_webmesg?.target=$post[yahoo]&.src=pg" target="_blank"><img src="{IMGDIR}/yahoo.gif" alt="Yahoo!"  /></a><!--{/if}-->
						<!--{if $post['taobao']}--><script type="text/javascript">document.write('<a target="_blank" href="http://amos1.taobao.com/msg.ww?v=2&uid='+encodeURIComponent('$post[taobaoas]')+'&s=2"><img src="{IMGDIR}/taobao.gif" alt="{lang taobao}" /></a>');</script><!--{/if}-->
					</div>
					<!--{/if}-->
					<dl>{eval @eval('echo "'.$customauthorinfo[2].'";');}</dl>
					<!--{if $post['site']}-->
						<p><a href="$post[site]" target="_blank">{lang member_homepage}</a></p>
					<!--{/if}-->
					<p><a href="space.php?action=viewpro&uid=$post[authorid]" target="_blank">{lang member_viewpro}</a></p>
					<!--{if $allowedituser || $allowbanuser}-->
						<!--{if $adminid == 1}-->
							<p><a href="admincp.php?action=members&username=$post[usernameenc]&searchsubmit=yes&frames=yes" target="_blank">{lang edit_member}</a></p>
						<!--{else}-->
							<p><a href="admincp.php?action=editmember&uid=$post[authorid]&membersubmit=yes&frames=yes" target="_blank">{lang edit_member}</a></p>
							<!--{/if}-->
						<p><a href="admincp.php?action=banmember&uid=$post[authorid]&membersubmit=yes&frames=yes" target="_blank">{lang ban_member}</a></p>
					<!--{/if}-->
				</div>
				<!--{/if}-->
			</td>
			<td class="postcontent">
				<div class="postactions">
					<!--{if $forum['ismoderator'] && $allowdelpost}-->
						<!--{if $post['first'] && $thread['digest'] == -1}-->
							<input type="checkbox" disabled="disabled" />
						<!--{else}-->
							<input type="checkbox" name="topiclist[]" value="$post[pid]" />
						<!--{/if}-->
					<!--{/if}-->
					<p>
						<!--{if (($forum['ismoderator'] && $alloweditpost && !(in_array($post['adminid'], array(1, 2, 3)) && $adminid > $post['adminid'])) || ($forum['alloweditpost'] && $discuz_uid && $post['authorid'] == $discuz_uid)) && ($thread['digest'] >= 0 || !$post['first'])}-->
							<a href="post.php?action=edit&amp;fid=$fid&amp;tid=$tid&amp;pid=$post[pid]&amp;page=$page&amp;extra=$extra">{lang edit}</a>
						<!--{/if}-->
						<!--{if $allowpostreply}-->
							<a href="post.php?action=reply&amp;fid=$fid&amp;tid=$tid&amp;repquote=$post[pid]&amp;extra=$extra&amp;page=$page">{lang reply_quote}</a>
						<!--{/if}-->
						<!--{if $discuz_uid && $magicstatus}-->
							<a href="magic.php?action=user&amp;pid=$post[pid]" target="_blank">{lang magics_use}</a>
						<!--{/if}-->
						<!--{if $discuz_uid && $reportpost}-->
							<a href="misc.php?action=report&amp;fid=$fid&amp;tid=$tid&amp;pid=$post[pid]&amp;page=$page" id="ajax_report_$post[pid]" onclick="ajaxmenu(event, this.id, 9000000, null, 0)">{lang reportpost}</a>
						<!--{/if}-->
						<!--{if $raterange && $post['authorid']}-->
							<a href="misc.php?action=rate&amp;tid=$tid&amp;pid=$post[pid]&amp;page=$page" id="ajax_rate_$post[pid]" onclick="ajaxmenu(event, this.id, 9000000, null, 0)">{lang rate}</a>
						<!--{/if}-->
						<!--{if $post['rate'] && $forum['ismoderator']}-->
							<a href="misc.php?action=removerate&amp;tid=$tid&amp;pid=$post[pid]&amp;page=$page">{lang removerate}</a>
						<!--{/if}-->
						<!--{if $fastpost && $allowpostreply}-->
							<a href="###" onclick="fastreply('{lang post_fastreply_author}', 'postnum_$post[pid]')">{lang reply}</a>
						<!--{/if}-->
						<strong onclick="scroll(0,0)" title="{lang top}">TOP</strong>
					</p>
					<div id="ad_thread1_$post[count]"></div>
				</div>
			</td>
		</tr>
		</table>
		<!--{if $post['first'] && $thread['replies']}--></div><div id="ad_interthread"><!--{/if}-->
<!--{/loop}-->

</div>
</form>

<div class="pages_btns">
	<div class="threadflow"><a href="redirect.php?fid=$fid&amp;tid=$tid&amp;goto=nextoldset"> &lsaquo;&lsaquo; {lang last_thread}</a> | <a href="redirect.php?fid=$fid&amp;tid=$tid&amp;goto=nextnewset">{lang next_thread} &rsaquo;&rsaquo;</a></div>
	$multipage
	<!--{if $allowpost || !$discuz_uid}-->
		<span class="postbtn" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu(this.id)"><a href="post.php?action=newthread&amp;fid=$fid&amp;extra=$extra"><img src="{IMGDIR}/newtopic.gif" border="0" alt="{lang post_newthread}" title="{lang post_newthread}" /></a></span>
	<!--{/if}-->
	<!--{if $allowpostreply || !$discuz_uid}--><span class="replybtn"><a href="post.php?action=reply&amp;fid=$fid&amp;tid=$tid&amp;extra=$extra"><img src="{IMGDIR}/reply.gif" border="0" alt="" /></a></span><!--{/if}-->
</div>

<!--{if $relatedthreadlist && $qihoo['relate']['position']}-->
	{template viewthread_relatedthread}
<!--{/if}-->

<!--{if $fastpost && $allowpostreply}-->
	<script type="text/javascript" src="include/javascript/post.js"></script>
	<script type="text/javascript">
	var postminchars = parseInt('$minpostsize');
	var postmaxchars = parseInt('$maxpostsize');
	var disablepostctrl = parseInt('$disablepostctrl');
	function validate(theform) {
		if (theform.message.value == "" && theform.subject.value == "") {
			alert("{lang post_subject_and_message_isnull}");
			theform.message.focus();
			return false;
		} else if (theform.subject.value.length > 80) {
			alert("{lang post_subject_toolong}");
			theform.subject.focus();
			return false;
		}
		if (!disablepostctrl && ((postminchars != 0 && theform.message.value.length < postminchars) || (postmaxchars != 0 && theform.message.value.length > postmaxchars))) {
			alert("{lang post_message_length_invalid}\n\n{lang post_curlength}: "+theform.message.value.length+" {lang bytes}\n{lang board_allowed}: "+postminchars+" {lang to} "+postmaxchars+" {lang bytes}");
			return false;
		}
		if(!fetchCheckbox('parseurloff')) {
			theform.message.value = parseurl(theform.message.value, 'bbcode');
		}
		theform.replysubmit.disabled = true;
		return true;
	}
	</script>
	<form method="post" id="postform" action="post.php?action=reply&amp;fid=$fid&amp;tid=$tid&amp;extra=$extra&amp;replysubmit=yes" onSubmit="return validate(this)">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<div id="quickpost" class="box">
			<span class="headactions"><a href="member.php?action=credits&amp;view=forum_reply&amp;fid=$fid" target="_blank">{lang credits_policy_view}</a></span>
			<h4>{lang post_fastreply}</h4>
			<div class="postoptions">
				<h5>{lang options}</h5>
				<p><label><input class="checkbox" type="checkbox" name="parseurloff" id="parseurloff" value="1"> {lang disable} {lang post_parseurl}</label></p>
				<p><label><input class="checkbox" type="checkbox" name="smileyoff" id="smileyoff" value="1"> {lang disable} {faq smilies}</label></p>
				<p><label><input class="checkbox" type="checkbox" name="bbcodeoff" id="bbcodeoff" value="1"> {lang disable} {faq discuzcode}</label></p>
				<!--{if $allowanonymous || $forum['allowanonymous']}--><p><label><input class="checkbox" type="checkbox" name="isanonymous" value="1"> {lang post_anonymous}</label></p><!--{/if}-->
				<p><label><input class="checkbox" type="checkbox" name="usesig" value="1" $usesigcheck> {lang post_show_sig}</label></p>
				<p><label><input class="checkbox" type="checkbox" name="emailnotify" value="1"> {lang post_email_notify}</label></p>
			</div>
			<div class="postform">
				<h5><label>{lang subject}
				<input type="text" name="subject" value="" tabindex="1"></label></h5>
				<p><label>{lang content}</label>
				<textarea rows="7" cols="80" class="autosave" name="message" id="message" onKeyDown="ctlent(event);" tabindex="2"></textarea>
				</p>
				<p class="btns">
					<button type="submit" name="replysubmit" id="postsubmit" value="replysubmit" tabindex="3">{lang post_topicsubmit}</button>{lang post_submit_hotkey}&nbsp;
					<a href="###" id="previewpost" onclick="$('postform').action=$('postform').action + '&previewpost=yes';$('postform').submit();">{lang post_previewpost}</a>&nbsp;
					<a href="###" id="restoredata" title="{lang post_autosave_last_restore}" onclick="loadData()">{lang post_autosave_restore}</a>&nbsp;
					<a href="###" onclick="$('postform').reset()">{lang post_topicreset}</a>
				</p>
			</div>
			<!--{if $smileyinsert}-->
				<div class="smilies">
					<div id="smilieslist"></div>
					<script type="text/javascript">ajaxget('post.php?action=smilies', 'smilieslist');</script>
				</div>
			<!--{/if}-->
			<script type="text/javascript">
				var textobj = $('message');
				window.onbeforeunload = function () {saveData(textobj.value)};
				if(is_ie >= 5 || is_moz >= 2) {
					lang['post_autosave_none'] = "{lang post_autosave_none}";
					lang['post_autosave_confirm'] = "{lang post_autosave_confirm}";
				} else {
					$('restoredata').style.display = 'none';
				}
			</script>
		</div>
	</form>
<!--{/if}-->

<!--{if $forum['ismoderator'] || $forumjump && !$jsmenu[1] || $visitedforums}-->
	<script type="text/javascript">
		function modaction(action) {
			if(!action) {
				return;
			}
			if(!in_array(action, ['delpost', 'banpost'])) {
				window.location=('topicadmin.php?tid=$tid&fid=$fid&action='+ action +'&sid=$sid');
			} else {
				document.modactions.action = 'topicadmin.php?action='+ action +'&fid=$fid&tid=$tid&page=$page;'
				document.modactions.submit();
			}
		}
	</script>
	<div id="footfilter" class="box">
	<!--{if $forum['ismoderator']}-->
		<form action="#">{lang admin_modoptions}:
		<select name="action" id="action" onchange="modaction(this.options[this.selectedIndex].value)">
		<option value="" selected>{lang admin_modoptions}</option>
		<!--{if $allowdelpost}-->
			<option value="delpost">{lang admin_delpost}</option>
			<!--{if $thread['digest'] >= 0}--><option value="delete">{lang admin_delthread}</option><!--{/if}-->
		<!--{/if}-->
		<option value="banpost">{lang admin_banpost}</option>
		<!--{if $thread['digest'] >= 0}-->
			<option value="close">{lang admin_close}</option>
			<option value="move">{lang admin_move}</option>
			<option value="copy">{lang admin_copy}</option>
			<option value="highlight">{lang admin_highlight}</option>
			<option value="type">{lang admin_type}</option>
			<option value="digest">{lang admin_digest}</option>
			<!--{if $allowstickthread}--><option value="stick">{lang admin_stick}</option><!--{/if}-->
			<!--{if $thread['price'] > 0 && $allowrefund}--><option value="refund">{lang admin_refund}</option><!--{/if}-->
			<option value="split">{lang admin_split}</option>
			<option value="merge">{lang admin_merge}</option>
			<option value="bump">{lang admin_bump}</option>
			<option value="repair">{lang admin_repair}</option>
			<!--{if $forum['modrecommend']['open'] && $forum['modrecommend']['sort'] != 1}--><option value="recommend">{lang admin_recommend}</option><!--{/if}-->
			<!--{if $supe['status'] && $allowpushthread && $forum['supe_pushsetting']['status'] == 2 && $thread['supe_pushstatus'] == 0}-->
				<option value="supe_push">{lang admin_supe_push}</option>
			<!--{/if}-->
		<!--{/if}-->
		</select>
		</form>
	<!--{/if}-->
	<!--{if $forumjump && !$jsmenu[1]}-->
		<select onchange="if(this.options[this.selectedIndex].value != '') {
		window.location=('forumdisplay.php?fid='+this.options[this.selectedIndex].value+'&amp;sid=$sid') }">
		<option value="">{lang forum_jump}</option>
		$forumselect
		</select>&nbsp;
	<!--{/if}-->
	<!--{if $visitedforums}-->
		<select onchange="if(this.options[this.selectedIndex].value != '') {
		window.location=('forumdisplay.php?fid='+this.options[this.selectedIndex].value+'&amp;sid=$sid') }">
		<option value="">{lang visited_forums}</option>
		$visitedforums
		</select>
	<!--{/if}-->
</div>
<!--{/if}-->

<!--{if $forumjump && $jsmenu[1]}-->
	<div class="popupmenu_popup" id="forumlist_menu" style="display: none">
		{$forummenu}
	</div>
<!--{/if}-->

<script type="text/javascript">
var maxpage = {if $maxpage}$maxpage{else}1{/if};
if(maxpage > 1) {
	document.onkeyup = function(e){
		e = e ? e : window.event;
		var tagname = is_ie ? e.srcElement.tagName : e.target.tagName;
		if(tagname == 'INPUT' || tagname == 'TEXTAREA') return;
		actualCode = e.keyCode ? e.keyCode : e.charCode;
		{if $page < $maxpage}
		if(actualCode == 39) {
			window.location = 'viewthread.php?tid=$tid&page={echo $page+1;}';
		}
		{/if}
		{if $page > 1}
		if(actualCode == 37) {
			window.location = 'viewthread.php?tid=$tid&page={echo $page-1;}';
		}
		{/if}
	}
}
</script>
<!--{if !$iscircle || !empty($frombbs)}-->{template footer}<!--{else}-->{template supesite_footer}<!--{/if}-->
<script type="text/javascript" src="include/javascript/msn.js"></script>
<!--{if $relatedthreadupdate}-->
<script type="text/javascript" src="relatethread.php?tid=$tid&amp;subjectenc=$thread[subjectenc]&amp;tagsenc=$thread[tagsenc]&amp;verifykey=$verifykey&amp;up=$qihoo_up"></script>
<!--{/if}-->
<!--{if $qihoo['relate']['bbsnum'] && $statsdata}-->
	<img style="display:none;" src="http://pvstat.qihoo.com/dimana.gif?_pdt=discuz&_pg=s100812&_r=$randnum&_dim_k=orgthread&_dim_v={echo urlencode($boardurl);}||{$statsdata}||0" width="1" height="1" alt="" />
	<img style="display:none;" src="http://pvstat.qihoo.com/dimana.gif?_pdt=discuz&_pg=s100812&_r=$randnum&_dim_k=relthread&_dim_v={$statskeywords}||{$statsurl}" width="1" height="1" alt="" />
<!--{/if}-->